---
layout: default
sectionid: docs
---

<section class="content wrap documentationContent">
  {% include nav_docs.html %}

  <div class="inner-content">
    <a class="edit-page-link" href="https://github.com/facebook/react/tree/master/docs/{{ page.path }}" target="_blank">Edit on GitHub</a>
    <h1>
      {{ page.title }}
    </h1>
    <div class="subHeader">{{ page.description }}</div>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a class="docs-prev" href="/docs/{{ page.prev }}">&larr; Prev</a>
      {% endif %}
      {% if page.next %}
        <a class="docs-next" href="/docs/{{ page.next }}">Next &rarr;</a>
      {% endif %}
    </div>
  </div>
</section>
