---
layout: default
sectionid: tips
---

<section class="content wrap documentationContent">
  {% include nav_docs.html %}

  <div class="inner-content">
    <h1>{{ page.title }}</h1>
    <div class="subHeader">{{ page.description }}</div>
    {{ content }}

    <div class="docs-prevnext">
      {% if page.prev %}
        <a class="docs-prev" href="/tips/{{ page.prev }}">&larr; Prev</a>
      {% endif %}
      {% if page.next %}
        <a class="docs-next" href="/tips/{{ page.next }}">Next &rarr;</a>
      {% endif %}
    </div>
  </div>
</section>
